@font-face {
  font-family: roboto;
  src: url(fonts/roboto/Roboto-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: roboto;
  src: url(font/roboto/Roboto-Regular.ttf);
}

@supports (background: paint(something)) {
  @property --secondary-color {
    syntax: '<color>';
    inherits: true;
    initial-value: #EF8857;
  }
}

:root {
  --primary-color: black;
  --secondary-color: #EF8857;
  --weak-color: #00000040;
  --bg-color: #F7EFE7;
  --bg-menu-color: white;
  --spacing: 6px;
  font-family: roboto;
}

:focus {
  outline: 2px solid var(--secondary-color);
}

::-moz-selection {
    background-color: var(--secondary-color);
    color: #fff;
}

::selection {
    background-color: var(--secondary-color);
    color: #fff;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
  }
}
*/
