<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="color-scheme" content="light">
    <link rel="icon" href="/img/favicon.png" type="image/png"/>
    <link rel="stylesheet" href="/style.css" type="text/css" media="all">
    {{ block "head" . }}{{ end }}
    <title>Atelier Traviole</title>
</head>
<body>
  {{ partial "header" . }}
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer" . }}
  {{ block "script" . }}{{ end }}
</body>
</html>
