body {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  min-height: 100vh;

  margin: 0;
  margin-left: auto;
  margin-right: auto;

  width: clamp(385px, 80%, 1000px);
  background-color: var(--bg-color);
  transition: background-color 1s, color 1s;
}

@font-face {
  font-family: roboto;
  src: url(font/roboto/Roboto-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: roboto;
  src: url(font/roboto/Roboto-Regular.ttf);
}

:root {
  --primary-color: black;
  --secondary-color: #EF8857;
  --weak-color: #00000040;
  --bg-color: #F7EFE7;
  --bg-menu-color: white;
  --spacing: 6px;
  font-family: roboto;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
  }
}
*/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

nav {
  align-self: stretch;
  background-color: var(--bg-menu-color);
}

nav > ul {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-template-rows: 64px;
  justify-content: stretch;
  align-items: stretch;

  margin: 0;
  padding-left: 0;
}

nav > ul > li {
  width: 100%;
  height: 100%;
  list-style-type: none;
}

nav > ul > li.active > a {
  color: var(--secondary-color);
}

nav > ul > li > a {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--primary-color);
  text-decoration: none;
}

body > ul {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-flow: row dense;
  grid-auto-rows: 1fr;
  justify-items: stretch;
  align-items: stretch;
  gap: var(--spacing);

  margin: 0;
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
  padding-left: 0;
}

body > ul > li:not(.active) {
  display: flex;
  flex-direction: column;
}

body > ul > li {
  color: var(--primary-color);
  list-style-type: none;
  overflow: hidden;
}

body > ul > li > article {
  /*transition: all 1s;*/
}

body > ul > li:not(.active) > article {
  min-width: 100%;
  min-height: 100%;
}

body > ul > li > article > img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body > ul > li:not(.active) > article > img {
  cursor: pointer;

  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

body > ul > li > article > section {
  display: none;
}

body > ul > li.active > article > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

::-moz-selection {
    background-color: var(--secondary-color);
    color: #fff;
}

::selection {
    background-color: var(--secondary-color);
    color: #fff;
}

body > ul > li.active > article {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-flow: column;

  justify-content: stretch;
  align-items: stretch;

  overflow: hidden;

  width: minmax(600px, 100%);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  padding: 40px;

  background: var(--bg-color);
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}


body > ul > li.active > article > section {
  display: initial;
  margin-left: 20px;
  border-left: 2px solid var(--secondary-color);
  padding-left: 30px;
}

.a4 {
  grid-column: span 3;
}

.card {
  grid-column: span 2;
}

.a3--horizontal {
  grid-column: span 5;
}

.square {
  grid-column: span 4;
  aspect-ratio: 1;
}

footer {
  color: var(--weak-color);
  margin-bottom: var(--spacing);
}

footer > hr {
  border: 0px;
  border-top: 1px;
  border-color: var(--secondary-color);
  border-style: solid;
  margin: 0px;
  margin-bottom: var(--spacing);
}
