{{ define "head" }}
{{ end }}

{{ define "main" }}
<ul class="wall">
  {{ range sort .Pages "RelPermalink" "desc" }}
  {{- $linePermalink := .RelPermalink -}}
  {{- $imageResized := .Resources.GetMatch "**/1.png" -}}
  {{- $resources := .Resources -}}
  {{ range .Params.pieces }}
    <li class="{{ .aspect }} {{ if .new }}new{{ end }}" tabindex=0>
      {{- $image := $resources.GetMatch .image -}}
      {{- $imageResized := $image.Resize "x500" -}}
      <img src="{{ $imageResized.RelPermalink }}" loading="lazy" alt="{{ .imageAlt }}">
      <article>
        <div>
          <button type="button"></button>
          <img src="{{ $image.RelPermalink }}" loading="lazy" alt="{{ .imageAlt }}">
          <section>
            <h1>{{ .title }}</h1>
            <h3>{{ .subtitle }}</h3>
            <p>{{ .description | markdownify }}</p>
            {{ if .project }}-->
              <!--Not satisfied by this code-->
              {{ $project := first 1 (where (where $.Site.RegularPages "Type" "in" "projects") ".Params.slug" .project)}}
              {{ range $project }}
                <a href="{{ .RelPermalink }}">{{ i18n "portfolio_project" }}</a>
              {{ end }}
            {{ end }}
            <div class="spacer"></div>
            <div class="links">
              <h4>En lien:</h4>
              <ul>
              {{ if .links }}
              {{ range .links }}
                <li><a href="{{ .link }}">{{ .label }}</a></li>
              {{ end }}
              {{ end }}
              </ul>
            </div>
          </section>
        </div>
      </article>
    </li>
  {{ end }}
  {{ end }}
</ul>
{{ end }}

{{ define "script" }}
<script charset="utf-8">
  function deactivateAll() {
    document.querySelectorAll(".wall > li").forEach(function(node) {
      node.classList.remove("active");
    });
  }

  document.addEventListener("keydown", function(event) {
    var listItem = document.querySelector("li:focus");
    console.log(listItem);
    if (event.key == "Escape") {
        deactivateAll();
    } else if (listItem && event.key == "Enter") {
      if (listItem.classList.contains("active")) {
        deactivateAll();
      } else {
        deactivateAll();
        listItem.classList.add("active");
      }
    }
    event.stopPropagation();
  });

  document.querySelectorAll(".wall > li > article > div > button").forEach(function(node) {
    node.addEventListener("click", function(event) {
      deactivateAll();
      event.stopPropagation();
    });
  });

  document.querySelectorAll(".wall > li").forEach(function(node) {
    node.addEventListener("click", function(event) {
      var listItem = event.target.closest(".wall > li");
      if (listItem.classList.contains("active")) {
        if (listItem == event.target) {
          deactivateAll();
        }
      } else {
        deactivateAll();
        listItem.classList.add("active");
      }
      event.stopPropagation();
    });
  });
  document.querySelector(":root").addEventListener("click", function(node) {
    deactivateAll();
  });
</script>
{{ end }}
