<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="color-scheme" content="light">
    <meta name="description" content="Portfolio, blog personnel, et contact de Léna Desmettre, illustratrice orientée jeunesse, passionnée d'éducation et de jeux de société.">
    <link rel="icon" href="/img/favicon.png" type="image/png"/>
    <link rel="stylesheet" href="/style.css" type="text/css" media="all">
    {{ block "head" . }}{{ end }}
    <title>Atelier Traviole - Léna Desmettre</title>
</head>
<body>
  <script>0</script> <!--To prevent FOUC (Flash Of Unstyled Content). https://bugzilla.mozilla.org/show_bug.cgi?id=1404468-->
  {{ partial "header" . }}
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer" . }}
  {{ block "script" . }}{{ end }}
</body>
</html>
