{{ define "head" }}
<link rel="stylesheet" href="/blog.css" type="text/css" media="all">
<link rel="stylesheet" href="/highlight.css" type="text/css" media="all">
<script type="text/javascript" src="https://latest.cactus.chat/cactus.js"></script>
<link rel="stylesheet" href="https://latest.cactus.chat/style.css" type="text/css">
{{ end }}

{{ define "main" }}
<div class="post post--detail">
  <section>
    <header>
      {{ if .Params.date }}<span>{{ .Params.date | time.Format ":date_medium" }}</span>{{ end }}
      <h1>{{ .Params.title }}</h1>
      <h2>{{ .Params.subtitle }}</h2>
    </header>
    <p>{{ .Params.description }}</p>
    <ul>
      {{ range .Params.tags }}
        <li style="background-color: {{ .color }};">{{ .text }}</li>
      {{ end }}
    </ul>
  </section>
  <article>
    {{ .Content }}
  </article>
  <div id="comment-section"></div>
</div>
<script>
initComments({
  node: document.getElementById("comment-section"),
  defaultHomeserverUrl: "https://matrix.glargh.fr",
  serverName: "matrix.glargh.fr",
  siteName: "ateliertraviole",
  commentSectionId: "{{ .Params.slug }}"
})
</script>
{{ end }}
