{{ define "head" }}
<link rel="stylesheet" href="/blog.css" type="text/css" media="all">
{{ end }}

{{ define "main" }}
<ul>
  {{ range .Pages }}
    <li class="post">
      <img src="{{ .RelPermalink }}{{ .Params.image }}" alt="{{ .Params.imageAlt }}"/>
      <section>
        <header>
          {{ if .Params.date }}<span>{{ .Params.date | time.Format ":date_medium" }}</span>{{ end }}
          <h1>{{ .Params.title }}</h1>
          <h2>{{ .Params.subtitle }}</h2>
        </header>
        <p>{{ .Params.description }}</p>
        <a href="{{ .RelPermalink }}">{{ i18n "blog_more" }}</a>
        <ul>
          {{ range .Params.tags }}
            <li>{{ . }}</li>
          {{ end }}
        </ul>
      </section>
    </li>
  {{ end }}
</ul>
{{ end }}
