{{ define "head" }}
<link rel="stylesheet" href="/projects.css" type="text/css" media="all">
{{ end }}

{{ define "main" }}
<ul>
  {{ range .Pages }}
    <li>
      <img src="{{ .Permalink }}{{ .Params.image }}" alt="{{ .Params.imageAlt }}"/>
      <section>
        <header>
          <span>{{ .Params.date | time.Format ":date_medium" }}</span>
          <h1>{{ .Params.title }}</h1>
          <h2>{{ .Params.subtitle }}</h2>
        </header>
        <p>{{ .Params.description }}</p>
        <a href="{{ .URL }}">{{ i18n "projects_more" }}</a>
        <ul>
          {{ range .Params.tags }}
            <li>{{ . }}</li>
          {{ end }}
        </ul>
      </section>
    </li>
  {{ end }}
</ul>
{{ end }}
