{{ define "head" }}
<link rel="stylesheet" href="/contact.css" type="text/css" media="all">
{{ end }}
{{ define "main" }}
<section>
  <img src="/img/portrait.png" alt='{{ i18n "contact_portrait_alt" }}'/>
  <div>
    <h3>{{ i18n "contact_introduction" }}</h3>
    <img src="/img/lena_desmettre.png" alt="Lena Desmettre"/>
    <p>{{ .Params.description | markdownify }}</p>
    <img src="/img/interets.png" alt=""/>
  </div>
</section>
<section>
  <h2>{{ i18n "contact_hook" }}</h2>
  <p>{{ .Params.contact | markdownify }}</p>
  <a href="mailto:lena@ateliertraviole.fr" target="_blank">{{ i18n "contact_email" }}<span>lena@ateliertraviole.fr</span></a>
</section>
{{ end }}
